// background color
$primary-background-color: #323437;
$container-background-color: #646669;

// text colors
$primary-text-color: white;
$secondary-text-color: #92928d;
$primary-text-color-bright: #e2b714;
$primary-text-color-dark: #323437;

// button colors
$primary-button-color: #e2b714;
