.view-poll {
    position: absolute;
    z-index: 2;
    display: grid;
    place-items: center;
    top: 6em;
}
.view-poll-container {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    -moz-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.view-poll-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #324EB1;
    font-weight: 700;
}
.view-poll-answers {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #324EB1;
    font-weight: 700;
}
.view-poll-button {
    background: #eb55ff;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 0px #eb55ff;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    transition: 0.5s;
}
.view-poll-button:hover {
    background: white;
    box-shadow: 0px 0px 10px 0px white;
    color: #eb55ff;
}
.view-poll-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #0f3afc;
    text-shadow: 0px 0px 10px white;
}
.percent {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: limegreen;
    text-shadow: 0px 0px 5px black;
}

@media screen and (max-width:400px) {
    .view-poll-heading {
        color:black;
        text-shadow: 0px 0px 20px white;
    }
}