@import "./utils/colors";
@import "./utils/fontsize";
@import "./utils/mixins";
@import "./utils/paddings";

.view-poll {
  @include contentCenter;
  background: $primary-background-color;

  &-container {
    background: $container-background-color;
    box-shadow: 0 0px 10px 0 rgba(119, 120, 122, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 2em 0;
  }

  &-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: $font-size-standard;
    color: $secondary-text-color;

    &-container {
      @include flexBox(space-evenly, center);
      padding: 1em;
      gap: 2em;
    }
  }

  &-title {
    font-family: "Poppins", sans-serif;
    font-size: $font-size-standard;
    color: $primary-text-color-bright;
    font-weight: 700;
  }

  &-answers {
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: $primary-text-color;
    font-weight: 700;
  }

  &-button {
    @include button(1.5rem, 0.3em, 0.8em);
  }

  &-button:hover {
    background: white;
    box-shadow: 0px 0px 10px 0px white;
    color: $primary-text-color-dark;
  }
}

.percent {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: limegreen;
  text-shadow: 0px 0px 5px black;
}

@media screen and (max-width: 400px) {
  .view-poll-heading {
    color: black;
    text-shadow: 0px 0px 20px white;
  }
}
